*{ font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

h3{
	padding: 0;
	margin: 0;
}

#extraDiv1 {
	width: 50px;
	height: 50px;
	position: fixed;
	background-color: #F8F8F8;
	bottom: 60px;
	right: 0px;
	cursor: pointer;
	border-radius: 25px;
	z-index: 1030;
}
#extraDiv1:after {
	content: "";
	width: 2px;
	height: 5px;
	position: absolute;
	left: 4px;
	top: 30px;
	box-shadow: 2px -2px, 4px -4px, 6px -6px, 8px -8px, 10px -10px, 12px -12px, 14px -14px, 16px -16px, 18px -18px, 20px -20px, 22px -18px, 24px -16px, 26px -14px, 28px -12px, 30px -10px, 32px -8px, 34px -6px, 36px -4px, 38px -2px, 12px -10px, 14px -9px, 16px -8px, 18px -7px, 20px -6px, 22px -7px, 24px -8px, 26px -9px, 28px -10px;
}
#extraDiv1:hover {
	-webkit-animation: back 0.5s infinite;
	-moz-animation: back 0.5s infinite;
	-ms-animation: back 0.5s infinite;
	-o-animation: back 0.5s infinite;
	animation: back 0.5s infinite;
}
@keyframes back {
	0% {
		bottom: 60px;
	}
	50% {
		bottom: 70px;
		box-shadow: 0 0 10px #aaa;
	}
	100% {
		bottom: 60px;
	}
}

.footer{
	height: 100px;
	text-align: center;
	color: #aaa;
}

.share{
	display: flex;
	height: 40px;
}
.share span{
	flex-grow: 1;
	display: flex;
	transition: all 0.14s;
}
.share span a{
	flex-grow: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	cursor: pointer;
}
.share span:hover{
	transform: scale(1.2);
}
.xinlang{
	background-image: url(/新浪微博.png);
}
.qq{
	background-image: url(/qq.png);
}
.qqkj{
	background-image: url(/qq空间.png);
}
.txwb{
	background-image: url(/腾讯微博.png);
}
.renren{
	background-image: url(/人人网.png);
}
.douban{
	background-image: url(/豆瓣.png);
}

.author_intro, .summary{
	height: 200px;
	overflow: hidden;
}
.catalog{
	height: 400px;
	overflow: hidden;
}
.author_intro div, .summary div, .catalog div{
	overflow-y: scroll;
	height: 100%;
	margin-right: -20px;
	padding-right: 20px;
	word-wrap: break-word;
}

dd{
	margin: 5px 0;
}